.tea-category {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  overflow: hidden;
  margin: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: box-shadow 0.3s, transform 0.3s; /* add transform to the transition */
  transform: scale(1); /* initial size */
}

.tea-category:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transform: scale(1.05); /* enlarge on hover */
}

.tea-category img {
  max-width: 100%;  /* Adjusts the width to the parent container */
  max-height: 200px; /* Sets a maximum height */
  object-fit: cover; /* Ensures the aspect ratio is maintained without stretching the image */
}

.tea-category-info {
  padding: 15px;
  text-align: center;
}

.tea-category-info h3 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #333;
}

.tea-category-info p {
  font-size: 0.9rem;
  color: #666;
}

.focused-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 1000;
  padding: 50px;
  box-sizing: border-box;
}

.focused-card button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.focused-card .tea-category {
  transform: scale(1.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}